{% extends 'insurance/base.html' %}
{% load static %}


{% block content %}
    <section class="section news">
        <h2>Что новенького?</h2>
        <div class="news-container">
            {% for news in news_items %}
                <div class="news-item">
                    <div class="news-date">{{ news.time_create|date:"d.m.Y" }}</div>
                    <div class="news-image">
                    </div>
                    <div class="news-title">{{ news.title }}</div>
                </div>
            {% endfor %}
        </div>
        <div class="more-news">
            <a href="#">Ещё больше новостей</a>
        </div>
    </section>
{% endblock %}